In [1]:
import pandas as pd

In [2]:
# import the data
df=pd.read_csv('Big 5 European football leagues teams stats.csv')

In [3]:
df.head()

,competition,season,rank,squad,games,wins,draws,losses,goals_for,goals_against,...,cards_red,shots_on_target_against,saves,clean_sheets,shots_on_target,games_starts,games_complete,games_subs,unused_subs,points_per_match
0,Premier League,2010-2011,1,Manchester Utd,38,23,11,4,78,37,...,3.0,139,102,15,218,418,NaN,99,NaN,2.11
1,Premier League,2010-2011,2,Chelsea,38,21,8,9,69,33,...,1.0,148,115,15,241,418,NaN,107,NaN,1.87
2,Premier League,2010-2011,3,Manchester City,38,21,8,9,60,33,...,5.0,153,120,18,182,418,NaN,102,NaN,1.87
3,Premier League,2010-2011,4,Arsenal,38,19,11,8,72,43,...,6.0,150,106,13,243,418,NaN,107,NaN,1.79
4,Premier League,2010-2011,5,Tottenham,38,16,14,8,55,46,...,2.0,183,137,8,202,418,NaN,96,NaN,1.63

In [4]:
df.index

RangeIndex(start=0, stop=1078, step=1)

In [7]:
# Select the first six rows using square brackets
df[:6]

,competition,season,rank,squad,games,wins,draws,losses,goals_for,goals_against,...,cards_red,shots_on_target_against,saves,clean_sheets,shots_on_target,games_starts,games_complete,games_subs,unused_subs,points_per_match
0,Premier League,2010-2011,1,Manchester Utd,38,23,11,4,78,37,...,3.0,139,102,15,218,418,NaN,99,NaN,2.11
1,Premier League,2010-2011,2,Chelsea,38,21,8,9,69,33,...,1.0,148,115,15,241,418,NaN,107,NaN,1.87
2,Premier League,2010-2011,3,Manchester City,38,21,8,9,60,33,...,5.0,153,120,18,182,418,NaN,102,NaN,1.87
3,Premier League,2010-2011,4,Arsenal,38,19,11,8,72,43,...,6.0,150,106,13,243,418,NaN,107,NaN,1.79
4,Premier League,2010-2011,5,Tottenham,38,16,14,8,55,46,...,2.0,183,137,8,202,418,NaN,96,NaN,1.63
5,Premier League,2010-2011,6,Liverpool,38,17,7,14,59,44,...,2.0,149,105,14,204,418,NaN,93,NaN,1.53

In [12]:
df.iloc[7:13,:]

,competition,season,rank,squad,games,wins,draws,losses,goals_for,goals_against,...,cards_red,shots_on_target_against,saves,clean_sheets,shots_on_target,games_starts,games_complete,games_subs,unused_subs,points_per_match
7,Premier League,2010-2011,8,Fulham,38,11,16,11,49,43,...,1.0,171,128,14,182,418,NaN,93,NaN,1.29
8,Premier League,2010-2011,9,Aston Villa,38,12,12,14,48,59,...,2.0,189,130,7,167,418,NaN,89,NaN,1.26
9,Premier League,2010-2011,10,Sunderland,38,12,11,15,45,56,...,5.0,206,150,13,159,418,NaN,99,NaN,1.24
10,Premier League,2010-2011,11,West Brom,38,12,11,15,56,71,...,7.0,182,111,2,183,418,NaN,107,NaN,1.24
11,Premier League,2010-2011,12,Newcastle Utd,38,11,13,14,56,57,...,2.0,161,104,9,179,418,NaN,89,NaN,1.21
12,Premier League,2010-2011,13,Stoke City,38,13,7,18,46,48,...,2.0,176,128,9,146,418,NaN,104,NaN,1.21

In [16]:
df.loc[[3,33,43,66,86,90],'competition':'goals_against']

,competition,season,rank,squad,games,wins,draws,losses,goals_for,goals_against
3,Premier League,2010-2011,4,Arsenal,38,19,11,8,72,43
33,Premier League,2011-2012,14,Stoke City,38,11,12,15,36,53
43,Premier League,2012-2013,4,Arsenal,38,21,10,7,72,37
66,Premier League,2013-2014,7,Manchester Utd,38,19,7,12,64,43
86,Premier League,2014-2015,7,Southampton,38,18,6,14,54,33
90,Premier League,2014-2015,11,Everton,38,12,11,15,48,50

In [17]:
df.set_index('rank',inplace=True)

In [18]:
df.head()

,competition,season,squad,games,wins,draws,losses,goals_for,goals_against,goal_diff,...,cards_red,shots_on_target_against,saves,clean_sheets,shots_on_target,games_starts,games_complete,games_subs,unused_subs,points_per_match
rank,,,,,,,,,,,,,,,,,,,,,
1,Premier League,2010-2011,Manchester Utd,38,23,11,4,78,37,41,...,3.0,139,102,15,218,418,NaN,99,NaN,2.11
2,Premier League,2010-2011,Chelsea,38,21,8,9,69,33,36,...,1.0,148,115,15,241,418,NaN,107,NaN,1.87
3,Premier League,2010-2011,Manchester City,38,21,8,9,60,33,27,...,5.0,153,120,18,182,418,NaN,102,NaN,1.87
4,Premier League,2010-2011,Arsenal,38,19,11,8,72,43,29,...,6.0,150,106,13,243,418,NaN,107,NaN,1.79
5,Premier League,2010-2011,Tottenham,38,16,14,8,55,46,9,...,2.0,183,137,8,202,418,NaN,96,NaN,1.63

In [20]:
df.loc[10,:]

,competition,season,squad,games,wins,draws,losses,goals_for,goals_against,goal_diff,...,cards_red,shots_on_target_against,saves,clean_sheets,shots_on_target,games_starts,games_complete,games_subs,unused_subs,points_per_match
rank,,,,,,,,,,,,,,,,,,,,,
10,Premier League,2010-2011,Sunderland,38,12,11,15,45,56,-11,...,5.0,206,150,13,159,418,NaN,99,NaN,1.24
10,Premier League,2011-2012,West Brom,38,13,8,17,45,52,-7,...,1.0,171,119,10,184,418,NaN,101,NaN,1.24
10,Premier League,2012-2013,West Ham,38,12,10,16,45,53,-8,...,1.0,215,162,11,206,418,NaN,112,NaN,1.21
10,Premier League,2013-2014,Newcastle Utd,38,15,4,19,43,59,-16,...,0.0,170,111,10,185,418,NaN,105,NaN,1.29
10,Premier League,2014-2015,Crystal Palace,38,13,9,16,47,51,-4,...,0.0,144,93,7,139,418,NaN,104,162.0,1.26
10,Premier League,2015-2016,Chelsea,38,12,14,12,59,53,6,...,0.0,172,119,9,172,418,NaN,103,163.0,1.32
10,Premier League,2016-2017,West Brom,38,12,9,17,43,51,-8,...,0.0,160,109,6,124,418,NaN,109,158.0,1.18
10,Premier League,2017-2018,Newcastle Utd,38,12,8,18,39,47,-8,...,NaN,145,104,9,152,418,NaN,112,154.0,1.16
10,Premier League,2018-2019,West Ham,38,15,7,16,52,55,-3,...,1.0,192,140,7,147,418,NaN,113,152.0,1.37
10,Premier League,2019-2020,Burnley,38,15,9,14,43,50,-7,...,0.0,159,112,15,124,418,NaN,74,206.0,1.42
10,Premier League,2020-2021,Everton,38,17,8,13,47,48,-1,...,2.0,158,111,12,144,418,310.0,106,206.0,1.55
10,Ligue 1,2010-2011,Saint-Étienne,38,12,13,13,46,47,-1,...,2.0,137,90,9,167,418,NaN,101,NaN,1.29
10,Ligue 1,2011-2012,Marseille,38,12,12,14,45,41,4,...,5.0,138,97,11,191,418,NaN,104,NaN,1.26
10,Ligue 1,2012-2013,Toulouse,38,13,12,13,49,47,2,...,7.0,176,129,12,187,418,NaN,96,NaN,1.34
10,Ligue 1,2013-2014,Bastia,38,13,10,15,42,56,-14,...,0.0,162,106,10,138,418,NaN,109,NaN,1.29
10,Ligue 1,2014-2015,Guingamp,38,15,4,19,41,55,-14,...,0.0,171,116,9,139,418,NaN,107,157.0,1.29
10,Ligue 1,2015-2016,Bastia,38,14,8,16,36,42,-6,...,0.0,145,103,15,108,418,NaN,98,165.0,1.32
10,Ligue 1,2016-2017,Guingamp,38,14,8,16,46,53,-7,...,3.0,160,107,9,167,418,NaN,107,159.0,1.32
10,Ligue 1,2017-2018,Montpellier,38,11,18,9,36,33,3,...,NaN,121,93,14,159,418,NaN,110,155.0,1.34
10,Ligue 1,2018-2019,Rennes,38,13,13,12,55,52,3,...,3.0,152,105,11,148,418,NaN,105,161.0,1.37
10,Ligue 1,2019-2020,Strasbourg,27,11,5,11,32,32,0,...,1.0,95,67,8,103,297,NaN,80,109.0,1.41
10,Ligue 1,2020-2021,Metz,38,12,11,15,44,48,-4,...,4.0,137,100,8,129,418,281.0,133,205.0,1.24
10,Fußball-Bundesliga,2010-2011,Köln,34,13,5,16,47,62,-15,...,1.0,202,140,10,159,374,NaN,96,NaN,1.29
10,Fußball-Bundesliga,2011-2012,Nürnberg,34,12,6,16,38,49,-11,...,2.0,134,85,9,137,374,NaN,101,NaN,1.24
10,Fußball-Bundesliga,2012-2013,Nürnberg,34,11,11,12,39,47,-8,...,2.0,161,114,7,141,374,NaN,99,NaN,1.29
10,Fußball-Bundesliga,2013-2014,Hannover 96,34,12,6,16,46,59,-13,...,0.0,184,125,6,180,374,NaN,96,NaN,1.24
10,Fußball-Bundesliga,2014-2015,Werder Bremen,34,11,10,13,50,65,-15,...,0.0,166,101,7,181,374,NaN,97,140.0,1.26
10,Fußball-Bundesliga,2015-2016,Hamburger SV,34,11,8,15,40,46,-6,...,0.0,169,123,9,131,374,NaN,102,134.0,1.21
10,Fußball-Bundesliga,2016-2017,Schalke 04,34,11,10,13,45,40,5,...,0.0,118,78,8,135,374,NaN,101,137.0,1.26
10,Fußball-Bundesliga,2017-2018,Hertha BSC,34,10,13,11,43,46,-3,...,NaN,142,103,8,129,374,NaN,95,142.0,1.26
10,Fußball-Bundesliga,2018-2019,Düsseldorf,34,13,5,16,49,65,-16,...,1.0,173,113,5,155,374,NaN,97,140.0,1.29
10,Fußball-Bundesliga,2019-2020,Hertha BSC,34,11,8,15,48,59,-11,...,4.0,162,112,9,120,374,NaN,109,195.0,1.21
10,Fußball-Bundesliga,2020-2021,Freiburg,34,12,9,13,52,52,0,...,0.0,168,122,6,143,374,223.0,152,151.0,1.32
10,Serie A,2010-2011,Genoa,38,14,9,15,45,47,-2,...,5.0,175,128,12,162,418,NaN,111,NaN,1.34
10,Serie A,2011-2012,Chievo,38,12,13,13,35,45,-10,...,1.0,170,125,14,134,418,NaN,113,NaN,1.29
10,Serie A,2012-2013,Parma,38,13,10,15,45,46,-1,...,3.0,181,135,9,194,418,NaN,108,NaN,1.29
10,Serie A,2013-2014,Hellas Verona,38,16,6,16,62,68,-6,...,0.0,233,165,7,173,418,NaN,113,NaN,1.42
10,Serie A,2014-2015,Milan,38,13,13,12,56,50,6,...,0.0,173,123,8,161,418,NaN,110,326.0,1.37
10,Serie A,2015-2016,Empoli,38,12,10,16,40,49,-9,...,0.0,164,115,12,147,418,NaN,112,324.0,1.21
10,Serie A,2016-2017,Sampdoria,38,12,12,14,49,55,-6,...,1.0,180,125,7,165,418,NaN,113,333.0,1.26
10,Serie A,2017-2018,Sampdoria,38,16,6,16,56,60,-4,...,NaN,193,140,9,164,418,NaN,110,311.0,1.42
10,Serie A,2018-2019,Bologna,38,11,11,16,48,56,-8,...,6.0,173,121,10,159,418,301.0,112,339.0,1.16
10,Serie A,2019-2020,Fiorentina,38,12,13,13,51,48,3,...,5.0,150,110,11,169,418,NaN,129,323.0,1.29
10,Serie A,2020-2021,Hellas Verona,38,11,12,15,46,48,-2,...,1.0,139,97,6,120,418,250.0,170,281.0,1.18
10,La Liga,2010-2011,Sporting Gijón,38,11,14,13,35,42,-7,...,6.0,153,111,14,148,418,NaN,110,NaN,1.24
10,La Liga,2011-2012,Athletic Club,38,12,13,13,49,52,-3,...,8.0,219,167,9,183,418,NaN,110,NaN,1.29
10,La Liga,2012-2013,Getafe,38,13,8,17,43,57,-14,...,9.0,197,140,9,177,418,NaN,112,NaN,1.24
10,La Liga,2013-2014,Levante,38,12,12,14,35,43,-8,...,0.0,201,158,16,125,418,NaN,114,NaN,1.26
10,La Liga,2014-2015,Espanyol,38,13,10,15,47,51,-4,...,0.0,167,116,13,153,418,NaN,106,156.0,1.29
10,La Liga,2015-2016,Betis,38,11,12,15,34,52,-18,...,0.0,182,130,12,134,418,NaN,115,150.0,1.18
10,La Liga,2016-2017,Eibar,38,15,9,14,56,51,5,...,7.0,152,107,10,182,418,299.0,112,152.0,1.42
10,La Liga,2017-2018,Girona,38,14,9,15,50,59,-9,...,0.0,173,121,11,154,418,312.0,106,159.0,1.34
10,La Liga,2018-2019,Betis,38,14,8,16,44,52,-8,...,1.0,156,108,11,154,418,NaN,113,153.0,1.32
10,La Liga,2019-2020,Osasuna,38,13,13,12,46,54,-8,...,6.0,138,87,11,142,418,NaN,129,185.0,1.37
10,La Liga,2020-2021,Athletic Club,38,11,13,14,46,42,4,...,3.0,107,71,9,133,418,240.0,177,242.0,1.21

In [25]:
df.iloc[10:17,0:6]

         competition     season           squad  games  wins  draws
rank
11    Premier League  2010-2011       West Brom     38    12     11
12    Premier League  2010-2011   Newcastle Utd     38    11     13
13    Premier League  2010-2011      Stoke City     38    13      7
14    Premier League  2010-2011          Bolton     38    12     10
15    Premier League  2010-2011       Blackburn     38    11     10
16    Premier League  2010-2011  Wigan Athletic     38     9     15
17    Premier League  2010-2011          Wolves     38    11      7

In [26]:
df.reset_index(inplace=True)

In [27]:
df.set_index(['rank','squad'],inplace=True)

In [28]:
df.head()

,,competition,season,games,wins,draws,losses,goals_for,goals_against,goal_diff,points,...,cards_red,shots_on_target_against,saves,clean_sheets,shots_on_target,games_starts,games_complete,games_subs,unused_subs,points_per_match
rank,squad,,,,,,,,,,,,,,,,,,,,,
1,Manchester Utd,Premier League,2010-2011,38,23,11,4,78,37,41,80,...,3.0,139,102,15,218,418,NaN,99,NaN,2.11
2,Chelsea,Premier League,2010-2011,38,21,8,9,69,33,36,71,...,1.0,148,115,15,241,418,NaN,107,NaN,1.87
3,Manchester City,Premier League,2010-2011,38,21,8,9,60,33,27,71,...,5.0,153,120,18,182,418,NaN,102,NaN,1.87
4,Arsenal,Premier League,2010-2011,38,19,11,8,72,43,29,68,...,6.0,150,106,13,243,418,NaN,107,NaN,1.79
5,Tottenham,Premier League,2010-2011,38,16,14,8,55,46,9,62,...,2.0,183,137,8,202,418,NaN,96,NaN,1.63

In [29]:
df.index

MultiIndex([( 1,  'Manchester Utd'),
            ( 2,         'Chelsea'),
            ( 3, 'Manchester City'),
            ( 4,         'Arsenal'),
            ( 5,       'Tottenham'),
            ( 6,       'Liverpool'),
            ( 7,         'Everton'),
            ( 8,          'Fulham'),
            ( 9,     'Aston Villa'),
            (10,      'Sunderland'),
            ...
            (11,         'Osasuna'),
            (12,           'Cádiz'),
            (13,        'Valencia'),
            (14,         'Levante'),
            (15,          'Getafe'),
            (16,          'Alavés'),
            (17,           'Elche'),
            (18,          'Huesca'),
            (19,      'Valladolid'),
            (20,           'Eibar')],
           names=['rank', 'squad'], length=1078)

In [33]:
df.sort_index(inplace=True)

In [34]:
df.head()

                     competition     season  games  wins  draws  losses  \
rank squad
1    Atlético Madrid     La Liga  2013-2014     38    28      6       4
     Atlético Madrid     La Liga  2020-2021     38    26      8       4
     Barcelona           La Liga  2010-2011     38    30      6       2
     Barcelona           La Liga  2012-2013     38    32      4       2
     Barcelona           La Liga  2014-2015     38    30      4       4

                      goals_for  goals_against  goal_diff  points  ...  \
rank squad                                                         ...
1    Atlético Madrid         77             26         51      90  ...
     Atlético Madrid         67             25         42      86  ...
     Barcelona               95             21         74      96  ...
     Barcelona              115             40         75     100  ...
     Barcelona              110             21         89      94  ...

                     cards_red  shots_on_target_against  saves  clean_sheets  \
rank squad
1    Atlético Madrid       0.0                      100     74            20
     Atlético Madrid       0.0                      120     97            18
     Barcelona             2.0                      116     95            19
     Barcelona             2.0                      117     77            10
     Barcelona             0.0                       91     70            23

                      shots_on_target  games_starts  games_complete  \
rank squad
1    Atlético Madrid              212           418             NaN
     Atlético Madrid              179           418           272.0
     Barcelona                    286           418             NaN
     Barcelona                    275           418             NaN
     Barcelona                    291           418             NaN

                      games_subs  unused_subs  points_per_match
rank squad
1    Atlético Madrid         105          NaN              2.37
     Atlético Madrid         148        231.0              2.26
     Barcelona               112          NaN              2.53
     Barcelona               111          NaN              2.63
     Barcelona               107        159.0              2.47

[5 rows x 26 columns]

In [35]:
df.loc[(6,'Liverpool')]

                   competition     season  games  wins  draws  losses  \
rank squad
6    Liverpool  Premier League  2010-2011     38    17      7      14
     Liverpool  Premier League  2014-2015     38    18      8      12

                goals_for  goals_against  goal_diff  points  ... cards_red  \
rank squad                                                   ...
6    Liverpool         59             44         15      58  ...       2.0
     Liverpool         52             48          4      62  ...       0.0

                shots_on_target_against  saves  clean_sheets  shots_on_target  \
rank squad
6    Liverpool                      149    105            14              204
     Liverpool                      139     91            14              193

                games_starts  games_complete  games_subs  unused_subs  \
rank squad
6    Liverpool           418             NaN          93          NaN
     Liverpool           418             NaN          97        169.0

                points_per_match
rank squad
6    Liverpool              1.53
     Liverpool              1.63

[2 rows x 26 columns]

In [36]:
s=[(1,'Barcelona'),(4,'Arsenal')]
df.loc[s]

                   competition     season  games  wins  draws  losses  \
rank squad
1    Barcelona         La Liga  2010-2011     38    30      6       2
     Barcelona         La Liga  2012-2013     38    32      4       2
     Barcelona         La Liga  2014-2015     38    30      4       4
     Barcelona         La Liga  2015-2016     38    29      4       5
     Barcelona         La Liga  2017-2018     38    28      9       1
     Barcelona         La Liga  2018-2019     38    26      9       3
4    Arsenal    Premier League  2010-2011     38    19     11       8
     Arsenal    Premier League  2012-2013     38    21     10       7
     Arsenal    Premier League  2013-2014     38    24      7       7

                goals_for  goals_against  goal_diff  points  ... cards_red  \
rank squad                                                   ...
1    Barcelona         95             21         74      96  ...       2.0
     Barcelona        115             40         75     100  ...       2.0
     Barcelona        110             21         89      94  ...       0.0
     Barcelona        112             29         83      91  ...       0.0
     Barcelona         99             29         70      93  ...       2.0
     Barcelona         90             36         54      87  ...       2.0
4    Arsenal           72             43         29      68  ...       6.0
     Arsenal           72             37         35      73  ...       4.0
     Arsenal           68             41         27      79  ...       0.0

                shots_on_target_against  saves  clean_sheets  shots_on_target  \
rank squad
1    Barcelona                      116     95            19              286
     Barcelona                      117     77            10              275
     Barcelona                       91     70            23              291
     Barcelona                      124     95            18              269
     Barcelona                      136    109            19              264
     Barcelona                      129     96            17              243
4    Arsenal                        150    106            13              243
     Arsenal                        142    105            14              272
     Arsenal                        147    106            17              254

                games_starts  games_complete  games_subs  unused_subs  \
rank squad
1    Barcelona           418             NaN         112          NaN
     Barcelona           418             NaN         111          NaN
     Barcelona           418             NaN         107        159.0
     Barcelona           418             NaN          90        176.0
     Barcelona           418           305.0         111        155.0
     Barcelona           418             NaN         112        154.0
4    Arsenal             418             NaN         107          NaN
     Arsenal             418             NaN         108          NaN
     Arsenal             418             NaN         104          NaN

                points_per_match
rank squad
1    Barcelona              2.53
     Barcelona              2.63
     Barcelona              2.47
     Barcelona              2.39
     Barcelona              2.45
     Barcelona              2.29
4    Arsenal                1.79
     Arsenal                1.92
     Arsenal                2.08

[9 rows x 26 columns]

In [37]:
# sort the inner index which is sqad
df.sort_index(level="squad")

,,competition,season,games,wins,draws,losses,goals_for,goals_against,goal_diff,points,...,cards_red,shots_on_target_against,saves,clean_sheets,shots_on_target,games_starts,games_complete,games_subs,unused_subs,points_per_match
rank,squad,,,,,,,,,,,,,,,,,,,,,
16,Ajaccio,Ligue 1,2011-2012,38,9,14,15,40,61,-21,41,...,9.0,219,158,7,133,418,NaN,103,NaN,1.08
17,Ajaccio,Ligue 1,2012-2013,38,9,15,14,39,51,-12,40,...,7.0,181,130,12,165,418,NaN,108,NaN,1.05
20,Ajaccio,Ligue 1,2013-2014,38,4,11,23,37,72,-35,23,...,0.0,221,149,2,117,418,NaN,106,NaN,0.61
9,Alavés,La Liga,2016-2017,38,14,13,11,41,43,-2,55,...,5.0,156,119,12,136,418,300.0,114,150.0,1.45
11,Alavés,La Liga,2018-2019,38,13,11,14,39,50,-11,50,...,1.0,159,115,8,118,418,NaN,113,153.0,1.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,Wolves,Premier League,2010-2011,38,11,7,20,46,66,-20,40,...,2.0,199,133,5,145,418,NaN,101,NaN,1.05
20,Wolves,Premier League,2011-2012,38,5,10,23,40,82,-42,25,...,4.0,271,189,4,152,418,NaN,108,NaN,0.66
13,Zaragoza,La Liga,2010-2011,38,12,9,17,40,53,-13,45,...,9.0,172,119,9,169,418,NaN,114,NaN,1.18
16,Zaragoza,La Liga,2011-2012,38,12,7,19,36,61,-25,43,...,9.0,220,159,10,158,418,NaN,112,NaN,1.13
20,Zaragoza,La Liga,2012-2013,38,9,7,22,37,62,-25,34,...,11.0,164,102,6,158,418,NaN,113,NaN,0.89